@function units($value, $size_type) {
  @if $size_type == "px" {
    $value: $value + px;
  } 
  @else if  $size_type == "rem" {
    $value: $value + rem;
  }
  @else if  $size_type == "em" {
    $value: $value + em;
  }
  @else if  $size_type == "percent" {
    $value: $value + #{'%'};
  }
  @return $value;
}

@mixin colorsType($hex_code, $color_type, $bg_color:"", $font_color:"") {
  @if $color_type == "fontcolor" {
    color: $hex_code;
  } 
  @else if  $color_type == "backgroundcolor" {
    background-color: $hex_code;
  }
  @else if  $color_type == "both" {
    color: $font_color;
    background-color: $bg_color;
  }
}
