// Font colors css.
@import "variables";
.font-color-darkcyan {
  color: #008b8b;
}
.font-color-gainsboro {
  color: #dcdcdc;
}
.font-color-honeydew {
  color: #f0fff0;
}
.font-color-darkseagreen {
  color: #8fbc8f;
}
.font-color-plum {
  color: #673147;
}
.font-color-black {
  color: #000000;
}
.font-color-white {
  color: #FFFFFF;
}
.font-color-antiquewhite {
  color: #faebd7;
}

