// Color Variables
$darkcyan: darkcyan;
$gainsboro: gainsboro;
$honeydew: honeydew;
$darkseagreen: darkseagreen;
$plum: plum;
$black: black;
$white: white;
$antiquewhite: antiquewhite;
$darkblue: darkblue;
$blue: blue;

