// Color Variables
$darkcyan: #008b8b;
$gainsboro: #dcdcdc;
$honeydew: #f0fff0;
$darkseagreen: #8fbc8f;
$plum: #673147;
$black: #000000;
$white: #FFFFFF;
$antiquewhite: #faebd7;
$darkblue: darkblue;
$blue: blue;
$primary_color: #0074d9;
$warning_color: #ff4136;
$success_color: #5cb85c;
