.menus {
  width: units(80, percent);
  &.display-type-2 {
    display: block;
    margin-left: 30px;
    padding: 10px;
  }
  .menu-list {
    margin: units(0, px);
    padding: units(0, px);
    list-style-type: none;
    .items {
      width: units(150, px);
      height: units(50, px);
      padding-top: units(17, px);
      margin-right: units(10, px);
      text-align: center;
      &:hover {
        text-decoration: underline;
        background-color: red;
      }
    }
  }
}
