.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.items {
  width: 150px;
  height: 50px;
  padding-top: 17px;
  margin-right: 10px;
  text-align: center;
}

.items:hover {
  text-decoration: underline;
  background-color: red;
}
.menu-width {
  width: 80%;
}
