.content {
  .right-col {
    border: units(2, px) solid red;
    width: units(80, percent);
    .title {
      margin-left: units(15, px);
      padding: units(10, px);
    }
    .description {
      margin-left: units(15, px);
      padding: units(10, px);
    }
    .content-top {
      margin-top: -units(25, px);
    }
    .row {
      .col {
        width: units(25, percent);
        padding: units(20, px);
        margin: units(3, px);
      }
    }
  }

}
