.right-col {
  border: 2px solid brown;
}
.display-type-2 {
  display: block;
  margin-left: 30px;
  padding: 10px;
}
.col {
  width: 25%;
  padding: 20px;
  margin: 3px;
}
.description {
  margin-left: 15px;
  padding: 10px;
}
.title {
  margin-left: 15px;
  padding: 10px;
}
.content-top {
  margin-top: -25px;
}
.col-80 {
  width: 80%;
}
