@import "../variables/variables";

.btn {
  width: 75px;
  height: 30px;
  padding: 6px;
  margin-left: 22px;
  cursor: pointer;
}

.btn-primary {
  @include colorsType(#008b8b, "both", $primary_color, $white);
  border-radius: 3px;
}

.btn-warning {
  @include colorsType(#008b8b, "both", $warning_color, $white);
  border-radius: 3px;
}

.btn-success {
  @include colorsType(#008b8b, "both", $success_color, $white);
  border-radius: 3px;
}
