// Background colors css.
@import "../variables/variables";
.bg-color-darkcyan {
  background-color: #008b8b;
}
.bg-color-gainsboro {
  background-color: #dcdcdc;
}
.bg-color-honeydew {
  background-color: #f0fff0;
}
.bg-color-darkseagreen {
  background-color: #8fbc8f;
}
.bg-color-plum {
  background-color: #673147;
}
.bg-color-black {
  background-color: #000000;
}
.bg-color-white {
  background-color: #FFFFFF;
}
.bg-color-antiquewhite {
  background-color: #faebd7;
}

