<footer class="footer" role="contentinfo">
   <div class="wrapper">
      <div class="nav">
         <div class = "nav-left">
           <a class="active link" href="#home">Home</a>
           <a class="link " href="#news">News</a>
           <a class="link" href="#contact">Contact</a>
         </div>
         <div class="nav-right">
            <a class="link" href="#search">Search</a>
            <a class="link" href="#about">About</a>
            <a class="link" href="#company">Company</a>
         </div>
      </div>
   </div>
</footer>