<header>
   <div class="header display-type-1">
      <div class="logo">
         <img src="themes/custom/frontend/images/drupal-logo.png" alt="logo image" width="30%" height="50px">
      </div>
      <div class="menus menu-width display-type-1">
         <nav class="menus-wrapper">
            <ul class= "menu-list display-type-1">
               <li class = "items bg-color-black">
                  <a href="/" class= "link font-color-white">Home</a>
               </li>
               <li class = "items bg-color-black">
                  <a href="/table"class= "link font-color-white" >News</a>
               </li>
               <li class = "items bg-color-black">
                  <a href="/contact" class= "link font-color-white">Contact</a>
               </li>
               <li class = "items bg-color-black">
                  <a href="/" class= "link font-color-white">Page 4</a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</header>
