.display-type-1 {
  display: flex;
  flex-direction: row;
}
.header {
  margin: units(20, px);
  padding: units(12, px);
  .logo {
    width: units(50, percent);
    padding-left: units(15, px);
  }
}
